@import 'swiper/css';



.about-us__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
}

@media (min-width: 1440px) {
  .about-us__title {
    font-size: 48px;
  }
}

.about-us__subtitle {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.about-us__gallery {
  position: relative;
}

.about-us__swiper {
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .about-us__swiper > .swiper-wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
  }
}

.about-us__slide.about-us__slide {
  display: block;
  padding: 0;
  margin: 0;
  height: auto !important;
  border: none;
}

@media (max-width: 768px) {
  .about-us__slide.about-us__slide {
     width: 100% !important;
     height: auto !important;
  }
}

.about-us__image {
  border-radius: 16px;
}

.about-us__arrow.about-us__arrow {
  position: absolute;
  top: calc(50% - 48px - 24px);
  max-width: 48px;
  max-height: 48px;
  padding: 10px;

  background: #f5fdfd;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #080c0c;

  /*
   * Large enough size in absolute units causes browser to clamp the radius to
   * shorter side, thus avoiding elliptical corners
   */
  border-radius: 100vh;
  border-color: #080c0c;

  z-index: 10;

  transition:
    background 100ms ease-out,
    border-color 100ms ease-out;

  &:hover, &:focus {
    background: #f19898;
    border-color: #080c0c;
    outline: none;
  }

  &:active {
    background: #c07979;
    border-color: #080c0c;
    outline: none;
  }

  &:disabled {
    background: #f5fdfd;
    opacity: 0.3;
    pointer-events: none;
  }
}

.about-us__pagination.about-us__pagination {
  padding: 10px 0;
}

@media (max-width: 768px) {
  .about-us__arrow.about-us__arrow,
  .about-us__pagination.about-us__pagination {
    display: none !important;
  }
}