.header {
  position: relative;
  background: #f5fdfd;
  color: #080C0C;
}

.header-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-menu__logo {
  display: block;
  padding: 4px 0;
  line-height: 0;
  fill: currentColor;
}

.header-menu__links {
  display: block;
  position: absolute;
  top: -100vh;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(100vh - 100%);

  background: #f5fdfd;
  z-index: -1;
  opacity: 0;

  transition: top 250ms ease-out, opacity 250ms ease-out;
}

.header--open .header-menu__links {
  top: 100%;
  opacity: 1;
}

.header-menu__button {
  display: block;
  padding: 12px;
  border: none;
  background: none;
  line-height: 0;
  color: inherit;
  transition: color 100ms ease-out;

  &:hover, &:focus {
    color: #F19898;
  }
}

.header-menu__button-icon--open {
  display: block;
  fill: currentColor;
}

.header-menu__button-icon--close {
  display: none;
  fill: currentColor;
}