.popular {
  position: relative;
}

.popular-title {
  padding-bottom: 32px;
}

.popular-card.swiper-slide {
  border: 1px solid #080c0c;
  border-radius: 16px;
  padding: 16px;
  background: #f5fdfd;
  height: 100% !important;
}

.popular-list {
  margin-bottom: 24px;
}

.popular-img {
  display: block;
  object-fit: cover;
  border-radius: 8px;
  width: 303px;
  height: 227px;
  margin-bottom: 16px;
}

.popular-paragraph,
.popular-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 12px;
}

.popular-paragraph {
  margin-bottom: 12px;
}

.popular-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 4px;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.popular-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.popular-content-header {
  width: 303px;
  height: 106px;
  margin-bottom: 8px;
}

.popular-price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
}

.popular-button,
.navigation-next,
.navigation-previus {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #080c0c;
  border-radius: 100px;
  padding: 10px;
  width: 44px;
  height: 44px;
  fill: #080c0c;
}

.swiper-settings {
  display: flex;
  justify-content: right;
}

.popular-navigation.swiper-navigation {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 16px;
}
.popular-button:hover,
.navigation-previus:hover,
.navigation-next:hover,
.popular-button:focus,
.navigation-previus:focus,
.navigation-next:focus {
  background-color: #f19898;
}

.popular-button:active,
.navigation-previus:active,
.navigation-next:active {
  background: #c07979;
}

.navigation-previus.swiper-button-disabled,
.navigation-next.swiper-button-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.popular-pagination.swiper-pagination {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  justify-content: left !important;
  gap: 8px;
  margin-top: 24px;
}

.popular-bullet {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #080c0c;
  opacity: 0.2;
}

.popular-bullet-active {
  opacity: 1;
}

/*---LOADER--- */

.popular-loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popular-loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #000;
  opacity: 0.25;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}
.popular-loader:after {
  content: '';
  width: 48px;
  height: 48px;
  background: #f19898;
  animation: bxSpin 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}

@keyframes bxSpin {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ----TABLET--- */

@media screen and (min-width: 768px) {
  .popular-img {
    width: 312px;
    height: 234px;
  }
}

/* ---Desktop--- */

@media screen and (min-width: 1440px) {
  .popular-img {
    width: 389px;
    height: 292px;
  }
}
