.sweeties {
}

.sweeties-title {
  text-align: center;
  margin-bottom: 24px;
}

.sweeties-desc {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}

.sweeties-category-wrapper {
  position: relative;
  display: block;
}

.sweeties-category-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px 32px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.sweeties-category-label {
  position: relative;
  display: flex;
  width: fit-content;
}

.sweeties-category-radio-btn {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.sweeties-category-button {
  font-weight: 500;
  font-size: 16px;
  border: 2px solid #080c0c;
  border-radius: 100px;
  padding: 10px 24px;
  transition: background-color 0.3s ease-in-out;
}

.sweeties-category-radio-btn:hover + .sweeties-category-button,
.sweeties-category-radio-btn:focus + .sweeties-category-button {
  background-color: #f19898;
  cursor: pointer;
}

.sweeties-category-radio-btn:checked + .sweeties-category-button {
  background-color: #c07979;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  #sweeties-category-select {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }
  .sweeties-category-list {
    position: relative;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.sweeties-category-loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sweeties-category-loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #000;
  opacity: 0.25;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}
.sweeties-category-loader:after {
  content: '';
  width: 48px;
  height: 48px;
  background: #f19898;
  animation: bxSpin 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}
