.sweeties {
  background-color: #f5fdfd;
}

.sweeties-text-content-wrapper {
  margin-bottom: 40px;
}

.sweeties-category-wrapper {
}

.sweeties-text-wrapper {
}

.sweeties-title {
  text-align: center;
  margin-bottom: 24px;
}

.sweeties-desc {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}

.sweeties-category-wrapper {
  position: relative;
  display: block;
}

/* ----------------- Select ------------------- */
.sw-cat-select {
  --ss-primary-color: #ebfcfb;
  --ss-bg-color: #080c0c;
  --ss-font-color: #080c0c;
  --ss-border-color: #202424;
  --ss-border-radius: 6px;
  --ss-spacing-l: 11px;
  --ss-spacing-m: 7px;
  --ss-spacing-s: 0;
  --ss-main-height: 40px;
  --ss-option-height: 38px;
  --ss-focus-color: transperant;
}

.sw-cat-select.ss-main {
  border: 2px solid #202424;
  padding: 6px 11px;
  max-width: 335px;
  font-weight: 500;
  font-size: 16px;
  background-color: #ebfcfb;
  height: 40px;
}

.sw-cat-select.ss-main.ss-dir-below {
  border-radius: 6px;
}

.ss-list {
  background-color: #ebfcfb;
  font-weight: 500;
  font-size: 16px;
  margin-right: 11px;
}

.ss-list::-webkit-scrollbar {
  width: 8px;
}

.ss-list::-webkit-scrollbar-thumb {
  background-color: #603c3c;
  border-radius: 8px;
  border: 2px solid #603c3c;
}

.ss-list::-webkit-scrollbar-track {
  background-color: #f5b6b6;
  border-radius: 8px;
  border: 2px solid #ebfcfb;
  margin-top: 17px;
  margin-bottom: 17px;
}

.ss-option.sw-cat-select-item {
}

.ss-option.sw-cat-select-item.ss-selected {
  position: relative;
  width: fit-content;
}

.ss-option.sw-cat-select-item.ss-selected::after {
  content: '';
  position: absolute;
  top: 30px;
  left: 12px;
  background-color: #080c0c;
  width: calc(100% - 24px);
  height: 1px;
}

.ss-content.sw-cat-select {
  background-color: #ebfcfb;
  border: 2px solid #202424;
  border-radius: 6px;
}

/* ----------------- Buttons ------------------- */

.sweeties-category-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px 32px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.sweeties-category-label {
  display: block;
}

.sweeties-category-radio-btn {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.sweeties-category-button {
  font-weight: 500;
  font-size: 16px;
  border: 2px solid #080c0c;
  border-radius: 100px;
  padding: 10px 28px;
  transition: background-color 0.3s ease-in-out;
}

.sweeties-category-radio-btn:hover + .sweeties-category-button,
.sweeties-category-radio-btn:focus + .sweeties-category-button {
  background-color: #f19898;
  cursor: pointer;
}

.sweeties-category-radio-btn:checked + .sweeties-category-button {
  background-color: #c07979;
}

/* ----------------- Desserts ------------------- */

.sweeties-desserts-wrapper {
  position: relative;
}

.sweeties-desserts-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  margin-bottom: 40px;
}

.sweeties-dessert-card {
  background-color: #f5fdfd;
  border: 1px solid #080c0c;
  border-radius: 16px;
  padding: 15px;
  width: 335px;
  height: 433px;
  min-width: 312px;
}

.sweeties-dessert-img {
  border-radius: 8px;
  width: 303px;
  height: 227px;
  margin-bottom: 16px;
}

.sweeties-dessert-content-wrapper {
}

.sweeties-dessert-all-text-wrapper {
}

.sweeties-dessert-category {
  font-size: 14px;
  display: block;
  margin-bottom: 12px;
}

.sweeties-dessert-text-wrapper {
  margin-bottom: 8px;
}

.sweeties-dessert-title-name {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.sweeties-dessert-desc {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.sweeties-dessert-price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sweeties-dessert-price {
  font-weight: 600;
  font-size: 20px;
}

.sweeties-dessert-btn {
  background-color: #f5fdfd;
  border: 2px solid #080c0c;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 44px;
  height: 44px;
  transition: background-color 0.2s ease-in-out;
}

.sweeties-dessert-btn:hover,
.sweeties-dessert-btn:focus {
  background-color: #f19898;
}

.sweeties-dessert-btn:active {
  background-color: #c07979;
}

.sweeties-load-more-btn {
  background-color: #f19898;
  border: 1px solid #f19898;
  color: #080c0c;
  border-radius: 100px;
  padding: 9px 23px;
  width: 100%;
  height: 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  margin: 0 auto;
  transition:
    background-color 0.2s ease-in-out,
    border 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.sweeties-load-more-btn:hover,
.sweeties-load-more-btn:focus {
  background-color: #f5fdfd;
  border: 2px solid #080c0c;
}

.sweeties-load-more-btn:active {
  background-color: #f5b6b6;
}

.sweeties-load-more-btn:disabled {
  background-color: #f19898;
  border: none;
  opacity: 0.3;
}

@media screen and (max-width: 767px) {
  .sweeties-text-wrapper {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .sw-cat-select.ss-main {
    max-width: 256px;
  }
  .sweeties-desserts-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 16px;
  }
  .sweeties-dessert-card {
    width: 344px;
    height: 440px;
  }
  .sweeties-dessert-img {
    width: 312px;
    height: 234px;
  }
  div > .sweeties-category-loader {
    top: -80px;
  }
  .sweeties-load-more-btn {
    width: 344px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .sweeties-text-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;
  }
  .sweeties-text-wrapper {
    max-width: 432px;
    padding-right: 20px;
  }
  .sweeties-title {
    margin-bottom: 8px;
    text-align: left;
  }
  .sweeties-desc {
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .sw-cat-select,
  .sw-cat-select + .ss-main {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }
  .sweeties-category-list {
    position: relative;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .sweeties-category-wrapper {
    margin-bottom: 40px;
  }
  .sweeties-desserts-list {
    gap: 40px 24px;
  }
  .sweeties-dessert-card {
    min-width: 310px;
    width: 310px;
    height: 431px;
  }
  .sweeties-dessert-img {
    width: 278px;
    height: 209px;
  }
  .sweeties-dessert-text-wrapper {
    margin-bottom: 24px;
  }
  div > .sweeties-category-loader {
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sweeties-load-more-btn {
    width: 198px;
  }
}

.sweeties-category-loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translate(-50%);
}
.sweeties-category-loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #000;
  opacity: 0.25;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}
.sweeties-category-loader:after {
  content: '';
  width: 48px;
  height: 48px;
  background: #f19898;
  animation: bxSpin 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}

.sweeties-desserts-loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
}
.sweeties-desserts-loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #000;
  opacity: 0.25;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}
.sweeties-desserts-loader:after {
  content: '';
  width: 48px;
  height: 48px;
  background: #f19898;
  animation: bxSpin 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}

.is-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hide-sweeties-loader {
  display: none;
}
