<div class="desserts-modal-overlay is-hiddens" data-dessert-modal>
  <div class="desserts-modal">
    <button
      type="button"
      class="modal-close-btn"
      data-modal-close
      aria-label="Close modal"
    ></button>
    <div class="desserts-modal-wrapper">
      <div class="modal-thumb">
        <img class="modal-img" data-modal-img src="" alt="" />
      </div>

      <div class="modal-info">
        <h2 class="modal-title" data-modal-title></h2>

        <!-- Місце під зірочки raty-js -->
        <div id="dessert-raty-stars" class="rating-container"></div>

        <p class="modal-price" data-modal-price></p>
        <p class="modal-description" data-modal-description></p>

        <p class="modal-title-ingredientts">
          Склад: <span class="modal-ingredients" data-modal-ingredients></span>
        </p>

        <button type="button" class="order-btn">Перейти до замовлення</button>
      </div>
    </div>
  </div>
</div>

<!-- Тимчасова кнопка для тестів ментора -->
<button
  type="button"
  class="order-btn"
  data-test-modal-btn
  style="
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    max-width: 200px;
  "
>
  Тест модалки 🍰
</button>
