<header class="header header--open">
  <div class="container">
    <nav class="header-menu">
      <a href="index.html" class="header-menu__logo">
        <svg alt="Солодка майстерня" width="150" height="64" class="header-menu__logo-image">
          <use href="img/icons.svg#header-logo"></use>
        </svg>
      </a>
      <div class="header-menu__links">
        <ul class="container">
          <li><a href="#sweets" class="header-menu__link">Солодощі</a></li>
          <li><a href="#about-us" class="header-menu__link">Про нас</a></li>
          <li><a href="#reviews" class="header-menu__link">Відгуки</a></li>
          <li><a href="#faq" class="header-menu__link">Часті питання</a></li>
          <li><a href="#shop" class="header-menu__button-link">До покупок</a></li>
        </ul>
      </div>
      <button id="header-menu-button" class="header-menu__button">
        <svg width="24" height="24" class="header-menu__button-icon--open">
          <use href="img/icons.svg#nav-menu-open"></use>
        </svg>
        <svg width="24" height="24" class="header-menu__button-icon--close">
          <use href="img/icons.svg#nav-menu-close"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>