<header class="header">
  <div class="container">
    <nav class="header-menu">
      <a href="index.html" class="header-menu__logo">
        <svg alt="Солодка майстерня" width="150" height="64" class="header-menu__logo-image">
          <use href="img/icons.svg#header-logo"></use>
        </svg>
      </a>
      <ul class="header-menu__links">
        <li><a href="#sweets">Солодощі</a></li>
        <li><a href="#about-us">Про нас</a></li>
        <li><a href="#reviews">Відгуки</a></li>
        <li><a href="#faq">Часті питання</a></li>
        <li><a href="#shop">До покупок</a></li>
      </ul>
      <button id="header-menu" class="header-menu__button">
        <svg width="24" height="24" class="header-menu__button-icon--open">
          <use href="img/icons.svg#nav-menu-open"></use>
        </svg>
        <svg width="24" height="24" class="header-menu__button-icon--close">
          <use href="img/icons.svg#nav-menu-close"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>