<section class="popular">
  <div class="container">
    <h2 class="popular-title">Наші бестселлери</h2>
    <div class="swiper">
      <ul class="popular-list swiper-wrapper"></ul>
      <div class="swiper-settings">
        <div class="swiper-pagination"></div>
        <div class="swiper-navigation">
          <button class="navigation-previus">
            <svg class="swiper-navigation-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-arrow_back"></use>
            </svg>
          </button>
          <button class="navigation-next">
            <svg class="swiper-navigation-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-arrow_forward"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="popular-loader"></div>
  </div>
</section>
